{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

<div class="container-fluid">
   <section class="section">
      {{ include('navbar.html.twig')}}
      <div class="row">
         <div class="col-10 offset-1 text-center py-3">

            <h2 class="pt-3 text-center">Mot de passe oublié</h2>
          
         </div>
      </div>

      <div class="row justify-content-center">
         <div class="col-5 inscription">
            <p class="champs">Mot de passe perdu ? Veuillez saisir votre adresse e-mail. Vous recevrez un lien par e-mail pour créer un nouveau mot de passe.</p> 
            {{ form(emailForm) }}
         </div>

      </div>

   </section>
</div>

{% endblock %}