{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}

<div class="container-fluid">
   {{ include('navbar.html.twig')}}
   <div class="row">
      <div class="col-10 offset-1 text-center py-3">

         <h2 class="pt-3 text-center">Réinitialisation du mot de passe</h2>
         <hr class="pb-3">
      </div>
   </div>

   <div class="row justify-content-center">
      <div class="col-5 inscription">
         <p>Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
         <form method="post">
             <label for="inputPassword">Mot de passe</label>
             <input type="password" name="password" id="inputPassword" required>
             <input type="hidden" name="token" value="{{ token }}">
             <button type="submit" id="form-submit" class="btn btn-lg text-center my-3 float-right">
                 Valider le mot de passe
             </button>   
         </form>
      </div>

   </div>


</div>

{% endblock %}