:root {
   font-size: calc(0.6em + 1vw);
 }

 body {
   font-family: 'Roboto', sans-serif;
     font-size: 0.7rem;
 }
 header, footer{
    background-color: #233d4d;
    color: #f9ab00;
 }
 .logo{
    width: 7rem;
 }

 h1 {
  font-family: "Montserrat", sans-serif;
  color: #f9aa00;
  font-size: 1.5rem;
  font-weight: 700;
}

h2 {
  font-family: "Open Sans", sans-serif !important;
  color: #233d4d;
  font-weight: 600;
  padding-bottom: 2rem;
  font-size: 1.2rem;
}
.listadmin ul {
   margin-left: -1.5rem;
   text-decoration: none;
   list-style-type: none;
   position: relative;
  min-height: 70vh;
 }
 .listadmin ul li a {
   color: #233d4d;
   font-size: 0.7rem;
 }
 .table{
  font-size: smaller;
 }
 .listadmin .dropdown-divider{
  border-top: 1px solid #233d4d;
 }
 .btn{
  background: #f9ab00;
  color: #233d4d;
  font-size: 0.6rem;
  
}
.profile_btn{
  font-size: 0.7rem;
}
.form-control{
  font-size: 0.7rem !important;
}
footer {
margin: 0 auto !important;
padding: 2rem;
}

footer a, footer a:hover {
  color: #f9ab00;

}