{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}

	<!-- Header -->
	{{ include("navbar.html.twig") }}
	<section class="section">
		<div class="container-fluid">
			<div class="row reglementation">
				<div class="offset-sm-2 col-sm-8">
					<div class="titleText text-center">
						<h2>Conditions general de vente</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-10 offset-1 pl-5 reglementation">
					<p>
						Entre la Soci&eacute;t&eacute; La carotte, 41 Rue Michel Ange, 91080
						          &Eacute;vry-Courcouronnes, au Capital Social de 0 immatricul&eacute;e
						          au Registre du Commerce et des Soci&eacute;t&eacute;s de PARIS, sous
						          le num&eacute;ro SIRET 0 repr&eacute;sent&eacute;e par en
						          qualit&eacute; de g&eacute;rant, d&ucirc;ment habilit&eacute; aux fins
						          des pr&eacute;sentes. La soci&eacute;t&eacute; peut &ecirc;tre jointe
						          par email en cliquant sur le formulaire de contact accessible via la
						          page d&rsquo;accueil du site. Ou directement en utilisant
						          l&rsquo;adresse
					</p>

					<p>
						Ci-apr&egrave;s le &laquo; Vendeur &raquo; ou la &laquo;
						          Soci&eacute;t&eacute; &raquo;. D&rsquo;une part, Et la personne
						          physique ou morale proc&eacute;dant &agrave; l&rsquo;achat de produits
						          ou services de la soci&eacute;t&eacute;, Ci-apr&egrave;s, &laquo;
						          l&rsquo;Acheteur &raquo;, ou &laquo; le Client &raquo; D&rsquo;autre
						          part, Il a &eacute;t&eacute; expos&eacute; et convenu ce qui suit :
					</p>

					<p>PREAMBULE</p>

					<p>
						Le Vendeur est &eacute;diteur de Produits et Services de Restaurant
						          &agrave; destination de consommateurs, commercialis&eacute;s par
						          l&rsquo;interm&eacute;diaire de ses sites Internet
						          (https://lacarotte.olha.fr/). La liste et le descriptif des biens et
						          services propos&eacute;s par la Soci&eacute;t&eacute; peuvent
						          &ecirc;tre consult&eacute;s sur les sites susmentionn&eacute;s.
					</p>

					<p>Article 1 : Objet</p>

					<p>
						Les pr&eacute;sentes Conditions G&eacute;n&eacute;rales de Vente
						          d&eacute;terminent les droits et obligations des parties dans le cadre
						          de la vente en ligne de Produits ou Services propos&eacute;s par le
						          Vendeur.
					</p>

					<p>Article 2 : Dispositions g&eacute;n&eacute;rales</p>

					<p>
						Les pr&eacute;sentes Conditions G&eacute;n&eacute;rales de Vente (CGV)
						          r&eacute;gissent les ventes de Produits ou de Services,
						          effectu&eacute;es au travers des sites Internet de la
						          Soci&eacute;t&eacute;, et sont partie int&eacute;grante du Contrat
						          entre l&rsquo;Acheteur et le Vendeur. Elle sont pleinement opposable
						          &agrave; l&rsquo;Acheteur qui les a accept&eacute; avant de passer
						          commande. Le Vendeur se r&eacute;serve la possibilit&eacute; de
						          modifier les pr&eacute;sentes, &agrave; tout moment par la publication
						          d&rsquo;une nouvelle version sur son site Internet. Les CGV
						          applicables alors sont celles &eacute;tant en vigueur &agrave; la date
						          du paiement (ou du premier paiement en cas de paiements multiples) de
						          la commande. Ces CGV sont consultables sur le site Internet de la
						          Soci&eacute;t&eacute; &agrave; l&rsquo;adresse suivante :
						          https://lacarotte.olha.fr/. La Soci&eacute;t&eacute; s&rsquo;assure
						          &eacute;galement que leur acceptation soit claire et sans
						          r&eacute;serve en mettant en place une case &agrave; cocher et un clic
						          de validation. Le Client d&eacute;clare avoir pris connaissance de
						          l&rsquo;ensemble des pr&eacute;sentes Conditions
						          G&eacute;n&eacute;rales de Vente, et le cas &eacute;ch&eacute;ant des
						          Conditions Particuli&egrave;res de Vente li&eacute;es &agrave; un
						          produit ou &agrave; un service, et les accepter sans restriction ni
						          r&eacute;serve. Le Client reconna&icirc;t qu&rsquo;il a
						          b&eacute;n&eacute;fici&eacute; des conseils et informations
						          n&eacute;cessaires afin de s&rsquo;assurer de
						          l&rsquo;ad&eacute;quation de l&rsquo;offre &agrave; ses besoins. Le
						          Client d&eacute;clare &ecirc;tre en mesure de contracter
						          l&eacute;galement en vertu des lois fran&ccedil;aises ou valablement
						          repr&eacute;senter la personne physique ou morale pour laquelle il
						          s&rsquo;engage. Sauf preuve contraire les informations
						          enregistr&eacute;es par la Soci&eacute;t&eacute; constituent la preuve
						          de l&rsquo;ensemble des transactions.
					</p>

					<p>Article 3 : Prix</p>

					<p>
						Les prix des produits vendus au travers des sites Internet sont
						          indiqu&eacute;s en Euros hors taxes et pr&eacute;cis&eacute;ment
						          d&eacute;termin&eacute;s sur les pages de descriptifs des Produits.
						          Ils sont &eacute;galement indiqu&eacute;s en euros toutes taxes
						          comprises (TVA + autres taxes &eacute;ventuelles) sur la page de
						          commande des produits, et hors frais sp&eacute;cifiques
						          d&rsquo;exp&eacute;dition. Pour tous les produits
						          exp&eacute;di&eacute;s hors Union europ&eacute;enne et/ou DOM-TOM, le
						          prix est calcul&eacute; hors taxes automatiquement sur la facture. Des
						          droits de douane ou autres taxes locales ou droits d&rsquo;importation
						          ou taxes d&rsquo;&eacute;tat sont susceptibles d&rsquo;&ecirc;tre
						          exigibles dans certains cas. Ces droits et sommes ne rel&egrave;vent
						          pas du ressort du Vendeur. Ils seront &agrave; la charge de
						          l&rsquo;acheteur et rel&egrave;vent de sa responsabilit&eacute;
						          (d&eacute;clarations, paiement aux autorit&eacute;s
						          comp&eacute;tentes, etc.). Le Vendeur invite &agrave; ce titre
						          l&rsquo;acheteur &agrave; se renseigner sur ces aspects aupr&egrave;s
						          des autorit&eacute;s locales correspondantes.La Soci&eacute;t&eacute;
						          se r&eacute;serve la possibilit&eacute; de modifier ses prix &agrave;
						          tout moment pour l&rsquo;avenir. Les frais de
						          t&eacute;l&eacute;communication n&eacute;cessaires &agrave;
						          l&rsquo;acc&egrave;s aux sites Internet de la Soci&eacute;t&eacute;
						          sont &agrave; la charge du Client. Le cas &eacute;ch&eacute;ant
						          &eacute;galement, les frais de livraison.
					</p>

					<p>Article 4 : Conclusion du contrat en ligne</p>

					<p>
						Conform&eacute;ment aux dispositions de l&rsquo;article 1127-1 du Code
						          civil, le Client doit suivre une s&eacute;rie d&rsquo;&eacute;tapes
						          pour conclure le contrat par voie &eacute;lectronique pour pouvoir
						          r&eacute;aliser sa commande :; Information sur les
						          caract&eacute;ristiques essentielles du Produit ; &ndash; Choix du
						          Produit, le cas &eacute;ch&eacute;ant, de ses options &ndash;
						          Indication des coordonn&eacute;es essentielles du Client
						          (identification, email, adresse&#8230;) ; &ndash; Acceptation des
						          pr&eacute;sentes Conditions G&eacute;n&eacute;rales de Vente &ndash;
						          V&eacute;rification des &eacute;l&eacute;ments de la commande
						          (formalit&eacute; du double clic) et, le cas &eacute;ch&eacute;ant,
						          correction des erreurs. Avant de proc&eacute;der &agrave; sa
						          confirmation, l&rsquo;Acheteur a la possibilit&eacute; de
						          v&eacute;rifier le d&eacute;tail de sa commande, son prix, et de
						          corriger ses &eacute;ventuelles erreur, ou annuler sa commande. La
						          confirmation de la commande emportera formation du pr&eacute;sent
						          contrat. &ndash; Ensuite, suivi des instructions pour le paiement,
						          paiement des produits, puis livraison de la commande. Le Client
						          recevra confirmation par courrier &eacute;lectronique du paiement de
						          la commande, ainsi qu&rsquo;un accus&eacute; de r&eacute;ception de la
						          commande la confirmant. Il recevra un exemplaire .pdf des
						          pr&eacute;sentes conditions g&eacute;n&eacute;rales de vente. Le
						          client disposera pendant son processus de commande de la
						          possibilit&eacute; d&rsquo;identifier d&rsquo;&eacute;ventuelles
						          erreurs commises dans la saisie des donn&eacute;es et de les corriger.
						          La langue propos&eacute; pour la conclusion du contrat est la langue
						          fran&ccedil;aise. Les modalit&eacute;s de l&rsquo;offre et des
						          conditions g&eacute;n&eacute;rales de vente sont renvoy&eacute;es par
						          email &agrave; l&rsquo;acheteur lors de la commande et
						          archiv&eacute;es sur le site web du Vendeur. Le cas
						          &eacute;ch&eacute;ant, les r&egrave;gles professionnelles et
						          commerciales auxquelles l&rsquo;auteur de l&rsquo;offre entend se
						          soumettre sont consultables dans la rubrique &laquo; r&egrave;gles
						          annexes &raquo; des pr&eacute;sentes CGV, consultables sur le site du
						          Vendeur &agrave; l&rsquo;adresse suivante : https://lacarotte.olha.fr/
						          L&rsquo;archivage des communications, de la commande, des
						          d&eacute;tails de la commande, ainsi que des factures est
						          effectu&eacute; sur un support fiable et durable de mani&egrave;re
						          constituer une copie fid&egrave;le et durable conform&eacute;ment aux
						          dispositions de l&rsquo;article 1360 du code civil. Ces informations
						          peuvent &ecirc;tre produits &agrave; titre de preuve du contrat. Pour
						          les produits livr&eacute;s, la livraison se fera &agrave;
						          l&rsquo;adresse indiqu&eacute;e par le Client. Aux fins de bonne
						          r&eacute;alisation de la commande, le Client s&rsquo;engage &agrave;
						          fournir ses &eacute;l&eacute;ments d&rsquo;identification
						          v&eacute;ridiques. Le Vendeur se r&eacute;serve la possibilit&eacute;
						          de refuser la commande, par exemple pour toute demande anormale,
						          r&eacute;alis&eacute;e de mauvaise foi ou pour tout motif
						          l&eacute;gitime.
					</p>

					<p>Article 5 : Produits et services</p>

					<p>
						Les caract&eacute;ristiques essentielles des biens, des services et
						          leurs prix respectifs sont mis &agrave; disposition de
						          l&rsquo;acheteur sur les sites Internet de la soci&eacute;t&eacute;,
						          de m&ecirc;me, le cas &eacute;ch&eacute;ant, que le mode
						          d&rsquo;utilisation du produit. Conform&eacute;ment &agrave;
						          l&rsquo;article L112-1 du Code la consommation, le consommateur est
						          inform&eacute;, par voie de marquage, d&rsquo;&eacute;tiquetage,
						          d&rsquo;affichage ou par tout autre proc&eacute;d&eacute;
						          appropri&eacute;, des prix et des conditions particuli&egrave;res de
						          la vente et de l&rsquo;ex&eacute;cution des services avant toute
						          conclusion du contrat de vente. Dans tous les cas, le montant total
						          d&ucirc; par l&rsquo;Acheteur est indiqu&eacute; sur la page de
						          confirmation de la commande. Le prix de vente du produit est celui en
						          vigueur indiqu&eacute; au jour de la commande, celui-ci ne comportant
						          par les frais de ports factur&eacute;s en suppl&eacute;ment. Ces
						          &eacute;ventuels frais sont indiqu&eacute;s &agrave; l&rsquo;Achteur
						          lors du process de vente, et en tout &eacute;tat de cause au moment de
						          la confirmation de la commande. Le Vendeur se r&eacute;serve la
						          possibilit&eacute; de modifier ses prix &agrave; tout moment, tout en
						          garantissant l&rsquo;application du prix indiqu&eacute; au moment de
						          la commande. Lorsque les produits ou services ne sont pas
						          ex&eacute;cut&eacute; imm&eacute;diatement, une information claire est
						          donn&eacute;e sur la page de pr&eacute;sentation du produit quant aux
						          dates de livraison des produits ou services. Le client atteste avoir
						          re&ccedil;u un d&eacute;tail des frais de livraison ainsi que les
						          modalit&eacute;s de paiement, de livraison et d&rsquo;ex&eacute;cution
						          du contrat, ainsi qu&rsquo;une information d&eacute;taill&eacute;e
						          relative &agrave; l&rsquo;identit&eacute; du vendeur, ses
						          coordonn&eacute;es postales, t&eacute;l&eacute;phoniques et
						          &eacute;lectroniques, et &agrave; ses activit&eacute;s dans le
						          contexte de la pr&eacute;sente vente. Le Vendeur s&rsquo;engage
						          &agrave; honorer la commande du Client dans la limite des stocks de
						          Produits disponibles uniquement. A d&eacute;faut, le Vendeur en
						          informe le Client ; si la commande a &eacute;t&eacute; pass&eacute;e,
						          et &agrave; d&eacute;faut d&rsquo;accord avec le Client sur une
						          nouvelle date de livraison, le Vendeur rembourse le client. Les
						          informations contractuelles sont pr&eacute;sent&eacute;es en
						          d&eacute;tail et en langue fran&ccedil;aise. Les parties conviennent
						          que les illustrations ou photos des produits offerts &agrave; la vente
						          n&rsquo;ont pas de valeur contractuelle. La dur&eacute;e de
						          validit&eacute; de l&rsquo;offre des Produits ainsi que leurs prix est
						          pr&eacute;cis&eacute;e sur les sites Internet de la
						          Soci&eacute;t&eacute;, ainsi que la dur&eacute;e minimale des contrats
						          propos&eacute;s lorsque ceux-ci portent sur une fourniture continue ou
						          p&eacute;riodique de produits ou services. Sauf conditions
						          particuli&egrave;res, les droits conc&eacute;d&eacute;s au titre des
						          pr&eacute;sentes le sont uniquement &agrave; la personne physique
						          signataire de la commande (ou la personne titulaire de l&rsquo;adresse
						          email communiqu&eacute;).
					</p>

					<p>Article 6 : Conformit&eacute;</p>

					<p>
						Conform&eacute;ment &agrave; l&rsquo;article L.411-1 du Code de la
						          consommation, les produits et les services offert &agrave; la vente au
						          travers des pr&eacute;sentes CGV r&eacute;pondent aux prescriptions en
						          vigueur relatives &agrave; la s&eacute;curit&eacute; et &agrave; la
						          sant&eacute; des personnes, &agrave; la loyaut&eacute; des
						          transactions commerciales et &agrave; la protection des consommateurs.
						          Ind&eacute;pendamment de toute garantie commerciale, le Vendeur reste
						          tenu des d&eacute;fauts de conformit&eacute; et des vices
						          cach&eacute;s du produit. Conform&eacute;ment &agrave; l&rsquo;article
						          L.217-4, le vendeur livre un bien conforme au contrat et r&eacute;pond
						          des d&eacute;fauts de conformit&eacute; existant lors de la
						          d&eacute;livrance. Il r&eacute;pond &eacute;galement des
						          d&eacute;fauts de conformit&eacute; r&eacute;sultant de
						          l&rsquo;emballage, des instructions de montage ou de
						          l&rsquo;installation lorsque celleci a &eacute;t&eacute; mise &agrave;
						          sa charge par le contrat ou a &eacute;t&eacute; r&eacute;alis&eacute;e
						          sous sa responsabilit&eacute;. Conform&eacute;ment aux dispositions
						          l&eacute;gales en mati&egrave;re de conformit&eacute; et de vices
						          cach&eacute;s (art. 1641 c. civ.), le Vendeur rembourse ou
						          &eacute;change les produits d&eacute;fectueux ou ne correspondant pas
						          &agrave; la commande. Le remboursement peut &ecirc;tre demand&eacute;
						          de la mani&egrave;re suivante : d&eacute;p&ocirc;t d&rsquo;une plainte
						          &agrave; l&rsquo;adresse
					</p>

					<p>Article 7 : Clause de r&eacute;serve de propri&eacute;t&eacute;</p>

					<p>
						Les produits demeurent la propri&eacute;t&eacute; de la
						          Soci&eacute;t&eacute; jusqu&rsquo;au complet paiement du prix.
					</p>

					<p>Article 8 : Modalit&eacute;s de livraison</p>

					<p>
						Les produits sont livr&eacute;s &agrave; l&rsquo;adresse de livraison
						          qui a &eacute;t&eacute; indiqu&eacute;e lors de la commande et dans
						          les d&eacute;lais indiqu&eacute;s. Ces d&eacute;lais ne prenent pas en
						          compte le d&eacute;lai de pr&eacute;paration de la commande. Lorsque
						          le Client commande plusieurs produits en m&ecirc;me temps ceux-ci
						          peuvent avoir des d&eacute;lais de livraison diff&eacute;rents
						          achemin&eacute;s selon les modalit&eacute;s suivantes : livraison via
						          un ou plusieurs colis. En cas de retard d&rsquo;exp&eacute;dition
						          d&eacute;p&ocirc;t d&rsquo;une plainte &agrave; l&rsquo;adresse . En
						          cas de retard de livraison, le Client dispose de la possibilit&eacute;
						          de r&eacute;soudre le contrat dans les conditions et modalit&eacute;s
						          d&eacute;finies &agrave; l&rsquo;Article L 138-2 du Code de la
						          consommation. Le Vendeur proc&egrave;de alors au remboursement du
						          produit et aux frais &laquo; aller &raquo; dans les conditions de
						          l&rsquo;Article L 138-3 du Code de la consommation. Le Vendeur met
						          &agrave; disposition un point de contact t&eacute;l&eacute;phonique
						          (co&ucirc;t d&rsquo;une communication locale &agrave; partir
						          d&rsquo;un poste fixe) indiqu&eacute; dans l&rsquo;email de
						          confirmation de commande afin d&rsquo;assurer le suivi de la commande.
						          Le Vendeur rappelle qu&rsquo;au moment o&ugrave; le Client pend
						          possession physiquement des produits, les risques de perte ou
						          d&rsquo;endommagement des produits lui sont transf&eacute;r&eacute;s.
						          Il appartient au Client de notifier au transporteur toute
						          r&eacute;serves sur le produit livr&eacute;.
					</p>

					<p>Article 9 : Disponibilit&eacute; et pr&eacute;sentation</p>

					<p>
						En cas d&rsquo;indisponibilit&eacute; d&rsquo;un article pour une
						          p&eacute;riode sup&eacute;rieure &agrave; 30 jours ouvrables, vous
						          serez imm&eacute;diatement pr&eacute;venu des d&eacute;lais
						          pr&eacute;visibles de livraison et la commande de cet article pourra
						          &ecirc;tre annul&eacute;e sur simple demande. Le Client pourra alors
						          demander un avoir pour le montant de l&rsquo;article ou son
						          remboursement int&eacute;gral et l&rsquo;annulation de la commande.
					</p>

					<p>Article 10 : Paiement</p>

					<p>
						Le paiement est exigible imm&eacute;diatement &agrave; la commande, y
						          compris pour les produits en pr&eacute;commande. Le Client peut
						          effectuer le r&egrave;glement par carte de paiement ou ch&egrave;que
						          bancaire. Les cartes &eacute;mises par des banques domicili&eacute;es
						          hors de France doivent obligatoirement &ecirc;tre des cartes bancaires
						          internationales (Mastercard ou Visa).Le paiement
						          s&eacute;curis&eacute; en ligne par carte bancaire est
						          r&eacute;alis&eacute; par notre prestataire de paiement. Les
						          informations transmises sont chiffr&eacute;es dans les r&egrave;gles
						          de l&rsquo;art et ne peuvent &ecirc;tre lues au cours du transport sur
						          le r&eacute;seau. Une fois le paiement lanc&eacute; par le Client, la
						          transaction est imm&eacute;diatement d&eacute;bit&eacute;e
						          apr&egrave;s v&eacute;rification des informations. Conform&eacute;ment
						          aux dispositions du Code mon&eacute;taire et financier,
						          l&rsquo;engagement de payer donn&eacute; par carte est
						          irr&eacute;vocable. En communiquant ses informations bancaires lors de
						          la vente, le Client autorise le Vendeur &agrave; d&eacute;biter sa
						          carte du montant relatif au prix indiqu&eacute;. Le Client confirme
						          qu&rsquo;il est bien le titulaire l&eacute;gal de la carte &agrave;
						          d&eacute;biter et qu&rsquo;il est l&eacute;galement en droit
						          d&rsquo;en faire usage. En cas d&rsquo;erreur, ou
						          d&rsquo;impossibilit&eacute; de d&eacute;biter la carte, la Vente est
						          imm&eacute;diatement r&eacute;solue de plein droit et la commande
						          annul&eacute;e.
					</p>

					<p>Article 11 : D&eacute;lai de r&eacute;tractation</p>

					<p>
						Conform&eacute;ment aux dispositions de l&rsquo;article L 221-5 du
						          Code de la consommation, l&rsquo;Acheteur dispose du droit de se
						          r&eacute;tracter sans donner de motif, dans un d&eacute;lai de
						          quatorze (14) jours &agrave; la date de r&eacute;ception de sa
						          commande. Le droit de r&eacute;tractation peut &ecirc;tre
						          exerc&eacute; en contactant la Soci&eacute;t&eacute; de la
						          mani&egrave;re suivante : d&eacute;p&ocirc;t d&rsquo;une plainte
						          &agrave; l&rsquo;adresse . Nous informons les Clients que
						          conform&eacute;ment aux dispositions des articles L. 221-18 &agrave;
						          L. 221-28 du Code de la consommation, ce droit de r&eacute;tractation
						          ne peut &ecirc;tre exerc&eacute; pour tout article dont un processus
						          de fabrication ou d&rsquo;acheminement est en cours. En cas
						          d&rsquo;exercice du droit de r&eacute;tractation dans le d&eacute;lai
						          susmentionn&eacute;, le prix du ou des produits achet&eacute;s et les
						          frais d&rsquo;envoi seront rembours&eacute;s, les frais de retour
						          restant &agrave; la charge du Client. Les retours des produits sont
						          &agrave; effectuer dans leur &eacute;tat d&rsquo;origine et complets
						          (emballage, accessoires, notice&#8230;) ; ils doivent si possible
						          &ecirc;tre accompagn&eacute;s d&rsquo;une copie du justificatif
						          d&rsquo;achat. Conform&eacute;ment aux dispositions l&eacute;gales,
						          vous pouvez demander le formulaire-type de r&eacute;tractation
						          &agrave; nous adresser &agrave; l&rsquo;adresse suivante :
						          d&eacute;p&ocirc;t d&rsquo;une plainte &agrave; l&rsquo;adresse .
						          Proc&eacute;dure de remboursement : la proc&eacute;dure de
						          remboursement peut s&rsquo;effectuer apr&egrave;s une enqu&ecirc;te
						          sur le ou les produits achet&eacute;s, plus de
						          d&eacute;tailsd&eacute;p&ocirc;t d&rsquo;une plainte &agrave;
						          l&rsquo;adresse
					</p>

					<p>Article 12 : Garanties</p>

					<p>
						Conform&eacute;ment &agrave; la loi, le Vendeur assume les garanties
						          suivantes : de conformit&eacute; et relative aux vices cach&eacute;s
						          des produits. Le Vendeur rembourse l&rsquo;acheteur ou &eacute;change
						          les produits apparemment d&eacute;fectueux ou ne correspondant pas
						          &agrave; la commande effectu&eacute;e. La demande de remboursement
						          doit s&rsquo;effectuer de la mani&egrave;re suivante :
						          d&eacute;p&ocirc;t d&rsquo;une plainte &agrave; l&rsquo;adresse Le
						          Vendeur rappelle que le consommateur : &ndash; dispose d&rsquo;un
						          d&eacute;lai de 2 ans &agrave; compter de la d&eacute;livrance du bien
						          pour agir aupr&egrave;s du Vendeur &ndash; qu&rsquo;il peut choisir
						          entre le remplacement et la r&eacute;paration du bien sous
						          r&eacute;serve des conditions pr&eacute;vues par les dispositions
						          susmentionn&eacute;es. apparemment d&eacute;fectueux ou ne
						          correspondant &ndash; qu&rsquo;il est dispens&eacute; d&rsquo;apporter
						          la preuve l&rsquo;existence du d&eacute;faut de conformit&eacute; du
						          bien durant les six mois suivant la d&eacute;livrance du bien. &ndash;
						          que, sauf biens d&rsquo;occasion, ce d&eacute;lai sera port&eacute;
						          &agrave; 24 mois &agrave; compter du 18 mars 2016 &ndash; que le
						          consommateur peut &eacute;galement faire valoir la garantie contre les
						          vices cach&eacute;s de la chose vendue au sens de l&rsquo;article 1641
						          du code civil et, dans cette hypoth&egrave;se, il peut choisir entre
						          la r&eacute;solution de la vente ou une r&eacute;duction du prix de
						          vente (dispositions des articles 1644 du Code Civil). Garanties
						          compl&eacute;mentaires : _____ (d&eacute;crire vos garanties
						          compl&eacute;mentaires)
					</p>

					<p>Article 13 : R&eacute;clamations et mediation</p>

					<p>
						Le cas &eacute;ch&eacute;ant, l&rsquo;Acheteur peut pr&eacute;senter
						          toute r&eacute;clamation en contactant la soci&eacute;t&eacute; au
						          moyen des coordonn&eacute;es suivantes d&eacute;p&ocirc;t d&rsquo;une
						          plainte &agrave; l&rsquo;adresse . Conform&eacute;ment aux
						          dispositions des art. L. 611-1 &agrave; L. 616-3 du Code de la
						          consommation, le consommateur est inform&eacute; qu&rsquo;il peut
						          recourir &agrave; un m&eacute;diateur de la consommation dans les
						          conditions pr&eacute;vues par le titre Ier du livre VI du code de la
						          consommation. En cas d&rsquo;&eacute;chec de la demande de
						          r&eacute;clamation aupr&egrave;s du service client du Vendeur, ou en
						          l&rsquo;absence de r&eacute;ponse dans un d&eacute;lai de deux mois,
						          le consommateur peut soumettre le diff&eacute;rent &agrave; un
						          m&eacute;diateur qui tentera en toute ind&eacute;pendance de
						          rapprocher les parties en vue d&rsquo;obtenir une solution amiable.
					</p>

					<p>Article 14 : r&eacute;solution du contrat</p>

					<p>
						La commande peut &ecirc;tre r&eacute;solue par l&rsquo;acheteur par
						          lettre recommand&eacute;e avec demande d&rsquo;avis de
						          r&eacute;ception dans les cas suivants : &mdash; livraison d&rsquo;un
						          produit non conforme aux caract&eacute;ristiques de la commande ;
						          &mdash; livraison d&eacute;passant la date limite fix&eacute;e lors de
						          la commande ou, &agrave; d&eacute;faut de date, dans les trente jours
						          suivant le paiement ; &mdash; de hausse du prix injustifi&eacute;e ou
						          de modification du produit. Dans ces cas, l&rsquo;acheteur peut exiger
						          le remboursement de l&rsquo;acompte vers&eacute; major&eacute; des
						          int&eacute;r&ecirc;ts calcul&eacute;s au taux l&eacute;gal &agrave;
						          partir de la date d&rsquo;encaissement de l&rsquo;acompte.
					</p>

					<p>Article 15 : Droits de propri&eacute;t&eacute; intellectuelle</p>

					<p>
						Les marques, noms de domaines, produits, logiciels, images,
						          vid&eacute;os, textes ou plus g&eacute;n&eacute;ralement toute
						          information objet de droits de propri&eacute;t&eacute; intellectuelle
						          sont et restent la propri&eacute;t&eacute; exclusive du vendeur.
						          Aucune cession de droits de propri&eacute;t&eacute; intellectuelle
						          n&rsquo;est r&eacute;alis&eacute;e au travers des pr&eacute;sentes
						          CGV. Toute reproduction totale ou partielle, modification ou
						          utilisation de ces biens pour quelque motif que ce soit est
						          strictement interdite.
					</p>

					<p>Article 16 : Force majeure</p>

					<p>
						L&rsquo;ex&eacute;cution des obligations du vendeur au terme des
						          pr&eacute;sentes est suspendue en cas de survenance d&rsquo;un cas
						          fortuit ou de force majeure qui en emp&ecirc;cherait
						          l&rsquo;ex&eacute;cution. Le vendeur avisera le client de la
						          survenance d&rsquo;un tel &eacute;v&egrave;nement d&egrave;s que
						          possible.
					</p>

					<p>Article 17 : Nullit&eacute; et modification du contrat</p>

					<p>
						Si l&rsquo;une des stipulations du pr&eacute;sent contrat &eacute;tait
						          annul&eacute;e, cette nullit&eacute; n&rsquo;entra&icirc;nerait pas la
						          nullit&eacute; des autres stipulations qui demeureront en vigueur
						          entre les parties. Toute modification contractuelle n&rsquo;est
						          valable qu&rsquo;apr&egrave;s un accord &eacute;crit et sign&eacute;
						          des parties. Article 18 : Protection des donn&eacute;es personnelles
						          Conform&eacute;ment au R&egrave;glement 2016/679 du 27 avril 2016
						          relatif &agrave; la protection des personnes physiques &agrave;
						          l&rsquo;&eacute;gard du traitement des donn&eacute;es &agrave;
						          caract&egrave;re personnel et &agrave; la libre circulation de ces
						          donn&eacute;es, le Vendeur met en place un traitement de
						          donn&eacute;es personnelles qui a pour finalit&eacute; la vente et la
						          livraison de produits et services d&eacute;finis au pr&eacute;sent
						          contrat. L&rsquo;Acheteur est inform&eacute; des
						          &eacute;l&eacute;ments suivants : &ndash; l&rsquo;identit&eacute; et
						          les coordonn&eacute;es du responsable du traitement et, le cas
						          &eacute;ch&eacute;ant, du repr&eacute;sentant du responsable du
						          traitement : le Vendeur, tel qu&rsquo;indiqu&eacute; en haut des
						          pr&eacute;sentes CGV ; &ndash; les coordonn&eacute;es du
						          d&eacute;l&eacute;gu&eacute; &agrave; la protection des donn&eacute;es
						          : &#8230;&#8230;. &ndash; la base juridique du traitement :
						          l&rsquo;ex&eacute;cution contractuelle &ndash; les destinataires ou
						          les cat&eacute;gories de destinataires des donn&eacute;es &agrave;
						          caract&egrave;re personnel, s&rsquo;ils existent : le responsable du
						          traitement, ses services en charge du marketing, les services en
						          charge de la s&eacute;curit&eacute; informatique, le service en charge
						          de la vente, de la livraison et de la commande, les sous-traitant
						          intervenants dans les op&eacute;rations de livraison et de vente ainsi
						          que toute autorit&eacute; l&eacute;galement autoris&eacute;e &agrave;
						          acc&eacute;der aux donn&eacute;es personnelles en question &ndash;
						          aucun transfert hors UE n&rsquo;est pr&eacute;vu &ndash; la
						          dur&eacute;e de conservation des donn&eacute;es : le temps de la
						          prescription commerciale &ndash; la personne concern&eacute;e dispose
						          du droit de demander au responsable du traitement l&rsquo;acc&egrave;s
						          aux donn&eacute;es &agrave; caract&egrave;re personnel, la
						          rectification ou l&rsquo;effacement de celles-ci, ou une limitation du
						          traitement relatif &agrave; la personne concern&eacute;e, ou du droit
						          de s&rsquo;opposer au traitement et du droit &agrave; la
						          portabilit&eacute; des donn&eacute;es &ndash; La personne
						          concern&eacute;e a le droit d&rsquo;introduire une r&eacute;clamation
						          aupr&egrave;s d&rsquo;une autorit&eacute; de contr&ocirc;le &ndash;
						          les informations demand&eacute;es lors de la commande sont
						          n&eacute;cessaires &agrave; l&rsquo;&eacute;tablissement de la facture
						          (obligation l&eacute;gale) et la livraison des biens command&eacute;s,
						          sans quoi la commande ne pourras pas &ecirc;tre pass&eacute;e. Aucune
						          d&eacute;cision automatis&eacute;e ou profilage n&rsquo;est mis en
						          oeuvre au travers du processus de commande.
					</p>

					<p>Article 18 : Droit applicable et clauses</p>

					<p>
						Toutes les clauses figurant dans les pr&eacute;sentes conditions
						          g&eacute;n&eacute;rales de vente, ainsi que toutes les
						          op&eacute;rations d&rsquo;achat et de vente qui y sont vis&eacute;es,
						          seront soumises au droit fran&ccedil;ais. La nullit&eacute;
						          d&rsquo;une clause contractuelle n&rsquo;entra&icirc;ne pas la
						          nullit&eacute; des pr&eacute;sentes conditions g&eacute;n&eacute;rales
						          de vente.
					</p>

					<p>Article 19 : Information des consommateurs</p>

					<p>
						Aux fins d&rsquo;information des consommateurs, les dispositions du
						          code civil et du code de la consommation sont reproduites
						          ci-apr&egrave;s : Aricle 1641 du Code civil : Le vendeur est tenu de
						          la garantie &agrave; raison des d&eacute;fauts cach&eacute;s de la
						          chose vendue qui la rendent impropre &agrave; l&rsquo;usage auquel on
						          la destine, ou qui diminuent tellement cet usage que l&rsquo;acheteur
						          ne l&rsquo;aurait pas acquise, ou n&rsquo;en aurait donn&eacute;
						          qu&rsquo;un moindre prix, s&rsquo;il les avait connus. Aricle 1648 du
						          Code civil : L&rsquo;action r&eacute;sultant des vices
						          r&eacute;dhibitoires doit &ecirc;tre intent&eacute;e par
						          l&rsquo;acqu&eacute;reur dans un d&eacute;lai de deux ans &agrave;
						          compter de la d&eacute;couverte du vice. Dans le cas pr&eacute;vu par
						          l&rsquo;article 1642-1, l&rsquo;action doit &ecirc;tre introduite,
						          &agrave; peine de forclusion, dans l&rsquo;ann&eacute;e qui suit la
						          date &agrave; laquelle le vendeur peut &ecirc;tre
						          d&eacute;charg&eacute; des vices ou des d&eacute;fauts de
						          conformit&eacute; apparents. Article L. 217-4 du Code de la
						          consommation : Le vendeur livre un bien conforme au contrat et
						          r&eacute;pond des d&eacute;fauts de conformit&eacute; existant lors de
						          la d&eacute;livrance. Il r&eacute;pond &eacute;galement des
						          d&eacute;fauts de conformit&eacute; r&eacute;sultant de
						          l&rsquo;emballage, des instructions de montage ou de
						          l&rsquo;installation lorsque celle-ci a &eacute;t&eacute; mise
						          &agrave; sa charge par le contrat ou a &eacute;t&eacute;
						          r&eacute;alis&eacute;e sous sa responsabilit&eacute;. Article L. 217-5
						          du Code de la consommation : Le bien est conforme au contrat : 1&deg;
						          S&rsquo;il est propre &agrave; l&rsquo;usage habituellement attendu
						          d&rsquo;un bien semblable et, le cas &eacute;ch&eacute;ant : &ndash;
						          s&rsquo;il correspond &agrave; la description donn&eacute;e par le
						          vendeur et poss&egrave;de les qualit&eacute;s que celui-ci a
						          pr&eacute;sent&eacute;es &agrave; l&rsquo;acheteur sous forme
						          d&rsquo;&eacute;chantillon ou de mod&egrave;le ; &ndash; s&rsquo;il
						          pr&eacute;sente les qualit&eacute;s qu&rsquo;un acheteur peut
						          l&eacute;gitimement attendre eu &eacute;gard aux d&eacute;clarations
						          publiques faites par le vendeur, par le producteur ou par son
						          repr&eacute;sentant, notamment dans la publicit&eacute; ou
						          l&rsquo;&eacute;tiquetage ; 2&deg; Ou s&rsquo;il pr&eacute;sente les
						          caract&eacute;ristiques d&eacute;finies d&rsquo;un commun accord par
						          les parties ou est propre &agrave; tout usage sp&eacute;cial
						          recherch&eacute; par l&rsquo;acheteur, port&eacute; &agrave; la
						          connaissance du vendeur et que ce dernier a accept&eacute;. Article L.
						          217-12 du Code de la consommation : L&rsquo;action r&eacute;sultant du
						          d&eacute;faut de conformit&eacute; se prescrit par deux ans &agrave;
						          compter de la d&eacute;livrance du bien. Article L. 217-16 du Code de
						          la consommation : Lorsque l&rsquo;acheteur demande au vendeur, pendant
						          le cours de la garantie commerciale qui lui a &eacute;t&eacute;
						          consentie lors de l&rsquo;acquisition ou de la r&eacute;paration
						          d&rsquo;un bien meuble, une remise en &eacute;tat couverte par la
						          garantie, toute p&eacute;riode d&rsquo;immobilisation d&rsquo;au moins
						          sept jours vient s&rsquo;ajouter &agrave; la dur&eacute;e de la
						          garantie qui restait &agrave; courir. Cette p&eacute;riode court
						          &agrave; compter de la demande d&rsquo;intervention de
						          l&rsquo;acheteur ou de la mise &agrave; disposition pour
						          r&eacute;paration du bien en cause, si cette mise &agrave; disposition
						          est post&eacute;rieure &agrave; la demande d&rsquo;intervention.
					</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
