{% extends 'base.html.twig' %} {% block title %}{% endblock %} {% block body %}

<!-- Header -->
{{ include('navbar.html.twig')}}
<section class="section5">
  <div class="container-fluid">
    <div class="row">
      <div class="offset-sm-2 col-sm-8">
        <div class="headerText text-center">
          <h2>Conditions general de vente</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 pl-5">
        
      </div>
    </div>
  </div>
</section>
{% endblock %}