{% extends 'base.html.twig' %} {% block title %}{% endblock %} {% block body %}

<!-- Header -->
{{ include("navbar.html.twig") }}
<section class="section">
  <div class="container-fluid">
    <div class="row">
      <div class="offset-sm-2 col-sm-8">
        <div class="titleText text-center">
          <h2>Mentions légales</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1 pl-5 reglementation">
        <ol>
          <li>
            <p><strong>Informations générales :</strong></p>
            <p>
              Editeur: Philiance Formation <br />
              Siège social :37/41 Rue Michel Ange 91080 Courcouronnes <br />
              Téléphone : +33 1 69 47 45 90<br />
              Siret : <br />
              Responsable de la publication :
            </p>
            <p>
              L'éditeur s'engage à respecter l'ensemble des lois concernant la
              mise en place et l'activité d'un site Internet.
            </p>
            <p></p>
          </li>

          <li>
            <p><strong>Hébergeur</strong>:</p>
            <p>
              1&1 Internet SARL 7, place de la Gare / BP 70109 / 57200
              Sarreguemines Cedex<br />
              Téléphone 0970 808 911 <br />
              E-mail: info@ionos.fr
            </p>
          </li>
          <li>
            <p><strong>CNIL /RGPD</strong></p>
            <p>
              Dispense n° 7 – Délibération n°2006-138 du 9 mai 2006 décidant de
              la dispense de déclaration des traitements constitués à des fins
              d’information ou de communication externe
            </p>
            <p>
              Conformément au règlement général sur la protection des données
              ((UE) 2016/679) en vigueur le 25 mai 2018, nous vous invitons à
              nous donner votre consentement pour pouvoir traiter vos données,
              et ceci dans le seul but de vous contacter dans le cadre de votre
              demande spécifiée dans le formulaire de contact Aucun autre
              traitement de vos informations ne sera effectué.
            </p>
          </li>
          <li>
            <p><strong>Nous contacter : </strong></p>
            <p>restaurant.lacarotte@gmail.com</p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
{% endblock %}
