{% extends 'base.html.twig' %} {% block title %}{% endblock %} {% block body %}

<!-- Header -->
{{ include("navbar.html.twig") }}
<section class="section">
  <div class="container-fluid">
    <div class="row">
      <div class="offset-sm-2 col-sm-8">
        <div class="titleText text-center">
          <h2>Politique de Confidentialité</h2>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-10 offset-1 pl-5 reglementation">
        <p>
          Les informations personnelles ne sont pas collectées à votre insu mais
          volontairement communiquées par vous. Les informations personnelles ne
          sont pas cédées à des tiers. Les informations personnelles ne sont pas
          utilisées à des fins non prévues. Par « donnée personnelle », nous
          entendons toute information collectée et enregistrée dans un format
          qui permet de vous identifier personnellement, soit directement (ex :
          nom) ou indirectement (ex : n° tél) en qualité de personne physique.
          Avant de nous transmettre ces informations, nous vous recommandons de
          prendre connaissance de la suite de ce document décrivant notre
          politique en matière de protection de la vie privée de nos clients.
        </p>

        <ol>
          <li>
            <p>
              <strong>Quelles sont les données personnelles collectées ?</strong
              >:
            </p>
            <p>
              Nous sommes amenés à divers moments à vous demander en votre
              qualité de client de la LA CAROTTE, des informations sur vous-même
              et/ou des membres de votre famille, comme :
            </p>
            <ul>
              <li>
                des coordonnées (par exemple nom, prénom, n° de téléphone,
                email, …);
              </li>
              <li>
                - des informations personnelles (par exemple date de naissance,
                nationalité, …);
              </li>
              <p>
                La collecte d’informations sur des personnes de moins de 18 ans
                est limitée à leurs seuls nom, nationalité et date de naissance,
                qui ne peuvent nous être fournis que par un adulte. Nous vous
                remercions de vous assurer que vos enfants ne nous transmettent
                aucune donnée personnelle sans votre autorisation (notamment via
                Internet)
              </p>
            </ul>
          </li>
          <li>
            <p><strong>Dans quel but collectons-nous vos données ?</strong></p>
            <p>
              La plupart de vos données nous sont communiquées par votre
              intervention active. C'est le cas lorsque vous nous transmettez
              vos données d'identification pour nous contacter.
            </p>
          </li>
          <li>
            <p><strong> Vos données sont-elles protegeés ? </strong></p>
            <p>
              Nous mettons un point d'honneur à respecter la vie privée de nos
              utilisateurs. Nous appliquons une politique de confidentialité
              stricte et prenons toutes les mesures adéquates afin que nos
              serveurs empêchent dans toute la mesure du possible toute fuite,
              destruction, perte, divulgation, usage, accès ou modification non
              autorisée de vos données.
            </p>
          </li>
          <li>
            <p>
              <strong> Quels sont vos droits et comment les exercer ?</strong>
            </p>
            <p>
              Vous pouvez à tout instant demander de vérifier, accéder,
              rectifier, supprimer, transférer et de vous opposer à
              l'utilisation de vos données, ainsi que demander la limitation de
              celles-ci. Pour cela, il vous suffit de nous envoyer un email à
              l'adresse suivante : restaurant.lacarotte@gmail.com. Nous mettrons
              alors tout en œuvre pour faire le nécessaire dans les meilleurs
              délais.
            </p>
          </li>
          <li>
            <p>
              <strong
                >Que se passe-t-il si la politique de confidentialité change ?
              </strong>
            </p>
            <p>
              Si nous devions modifier la présente politique de confidentialité,
              nous vous en avertirons par le biais du moyen le plus approprié,
              notamment par email, par l'intermédiaire de notre site internet ou
              tout autre moyen de communication.
            </p>
          </li>
          <li>
            <p><strong>Que faire en cas de differend ? </strong></p>
            <p>
              Les longs procès ne profitent à personne. En cas de différend
              entre nous, nous nous engageons à privilégier le dialogue et
              l'ouverture à la recherche d'une solution amiable.
            </p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
{% endblock %}
