{% extends 'baseUsers.html.twig' %}

{% block title %}Modification du profil{% endblock %}

{% block body %}
{{ parent() }}

<div class="col-10 p-3">
   <h2 class="py-3">Modification du mot de passe de {{app.user.lastName}} {{app.user.firstName}}</h2>
   <form method="post">
      <div class="form-field">
          <label for="pass">Mot de passe</label>
          <input type="password" id="pass" name="pass" class="form-control">
      </div>
      <div class="form-field">
          <label for="pass2">Confirmer le mot de passe</label>
          <input type="password" id="pass2" name="pass2" class="form-control">
      </div>
      <button type="submit" class="btn btn-lg text-center mt-3 ml-3 float-right profile_btn">Valider</button>
  
  </form>
</div>

{% endblock %}