{% extends 'baseUsers.html.twig' %}

{% block title %}Modification du profil{% endblock %}

{% block body %}
{{ parent() }}

<div class="col-10 p-3">
   <h2 class="py-3">Modification du profil de {{app.user.lastName}} {{app.user.firstName}}</h2>
   {{ form(form) }}
</div>

{% endblock %}